// Color Variable
$primary: #2277ef !default;
$secondary: #6102dd !default;
$bg: #101820ff !default;
$dark-bg: rgb(10, 16, 22) !default;
$success: #36b37e !default;
$danger: #ff5630 !default;
$warning: #ffab00 !default;
$info: #00b8d9 !default;
$light: #fbfbfb !default;
$dark: #4a4a4a !default;

// ----------------------
$dark: #464a53;
$light: #aaa;
$border: #dee2e6;
$inverse: #2f3d4a;
$ceriseRed: #f54372;
$light-2: #f9fafc;
$scooter: #36b9d8;
$carnation: #f6514c;
$apple: #449036;
$cardinal: #ce2b23;
$royal-blue: #3375e1;

///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;
$charade: #23252f;
$muted: #8898aa;
$l-muted: #c2cbd4;

/////////////
// Social
/////////////
$facebook: rgb(59, 89, 152);
$twitter: #1da1f2;
$youtube: #ff0000;
$google-plus: #db4439;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$reddit: #ff4500;
$spotify: #1ed760;
$skype: #00aff0;
$quora: #aa2200;

///////////////////
// Material Color
///////////////////
///
// RED / PURPLE / PINK
$maroon: #8c1919;
$monza: #de0903;
$red: #ff0000;
$valencia: #d53845;
$violetRed: #f13c79;
$pink: #e91e63;
$deep-pink: #fe60ad;
$deep-purple: #664ce1;
$fuchsia-blue: #835dc4;
$purple: #7c277d;
$seance: #752da1;
$kimberly: #73629b;
$purple-pizzazz: #dd04cc;
$razzmatazz: #f31e7a;
$cosmos: #ffdcdc;
///
// YELLOW / ORANGE
$brown: #653818;
$flamingo: #fa4c12;
$cinnabar: #e74431;
$orange: #f7941d;
$yellow: #ffff00;
$sunshine: #ffbe26;
$candlelight: #fad00b;
///
// GREEN / BLUE
$green: #008000;
$malachite: #24cf48;
$emerlad: #3ccf48;
$chelesa-cucumber: #6dae4e;
$lime: #cddc39;
$light-green: #43e794;
$turquoise: #46eead;
$gossip: #d0fabb;
$cloud: #aae8ff;
$teal: #39cccc;
$scooter: #36b8d7;
$pelorous: #3aa6b4;
$cyan: #00bcd4;
$picton-blue: #44daf4;
$light-blue: #5c97e6;
$curious-blue: #3885d8;
$sky: #2290ff;
$indigo: #3f51b5;
$blue-dark: #4501eb;
$shark: #24282d;
$navy: #102d4b;
$big-stone: #152037;
$mirage: #121929;
///
// GREY / WHITE
$athensGray: #f0f0f2;
$alabaster: #fbfbfb;
$dusty-gray: #999999;
$cadet-blue: #adb6c7;
$pale-sky: #6a707e;
$gallery: #eeeeee;
$gray: #898989;
$hawkes-blue: #d2ebfc;
$grey: #d2d6de;
$blue-grey: #607d8b;
$silver: #cccccc;
$emperor: #555555;
