// Color Variables
$primary: #1e76ff !important !default;
$secondary: #171c27 !important !default;
$bg: #161a1d !important !default;
$dark-bg: rgb(10, 16, 22) !important !default;
$light: #fbfbfb !important !default;
$dark: #4a4a4a !important !default;

///////////////
// Solid Color
///////////////
$white: #fff !important;
$black: #000 !important;
$charade: #23252f !important;
$muted: #8898aa !important;
$l-muted: #c2cbd4 !important;

/////////////
// Social
/////////////
$facebook: rgb(59, 89, 152) !important;
$twitter: #1da1f2 !important;
$youtube: #ff0000 !important;
$linkedin: #007bb6 !important;
$google: #4361ee !important;
$google2: #4362ee70 !important;
$reddit: #ff4500 !important;
$spotify: #1ed760 !important;
