//! Colors
$main-bg: #efcfb6;
$secondary: #313848;
$txt: #dbedf3;
$shit: #404b69;

//! Typography:
$mainFontFamily: 'Roboto', sans-serif;

$baseFontSize: 1rem;
$baseLineHeight: 1.3rem;

$h1fontSize: $baseFontSize * 3.3;
$h3fontSize: $baseFontSize * 2.5;
$h5fontSize: $baseFontSize * 1.4;
$h6fontSize: $baseFontSize * 1.3;
$pfontSize: $baseFontSize * 1.2;
$fontSizeLarge: $baseFontSize * 1.4;
$fontSizeSmall: $baseFontSize * 0.95;
$fontSizeMini: $baseFontSize * 0.85;

/////////////
// Social
/////////////
$facebook: rgb(59, 89, 152) !important;
$twitter: #1da1f2 !important;
$youtube: #ff0000 !important;
$linkedin: #007bb6 !important;
$google: #4361ee !important;
$google2: #4362ee70 !important;
$reddit: #ff4500 !important;
$spotify: #1ed760 !important;

//Typography
$font-family: 'Geo', sans-serif;
