@import "../../../styles/abstracts/abstracts";

body {
  .tips-card {
    background: $bg;
    border: 2px solid $google;
  }
  .l2-header {
    // font-size: 3rem;
    color: $google;
    background-color: $bg;
  }
  .btn_tips {
    background-color: $google;
  }
  .footer_card_tips {
    background-color: transparent;
    color: $google;
  }
}
