@import "../../styles/abstracts/abstracts";

body {
  background-color: $bg;
  nav {
    height: 6rem;
    .brand_link {
      background-color: none;
      border: 1px solid $white;
      color: $white;
    }
    .navbar_links {
      display: flex;
      justify-content: space-evenly;
      a {
        color: $white;
        transition: all 0.3s;
        &:hover {
          color: $google;
        }
      }
    }
    #signin {
      background-color: transparent;
      color: $white;
      border: 1px solid $white;
      transition: all 0.3s;
      &:hover {
        background-color: $google;
        color: $white;
        border: 1px solid $google;
      }
    }
    #signin {
      font-size: 1.1rem;
    }
  }
}
