@import '../../styles/abstracts/abstracts';

body {
	.navbar {
		height: 3rem;
		background-color: $secondary;
		border: 1px solid $txt;
		box-shadow: 3px 3px $txt;
		// font-size: 3rem;
		// color: #ff6768;

		.container {
			// border: 1px solid #ff6768;
			display: flex;
			align-items: center;

			.navbar-brand {
				font-size: 2rem;
				color: $txt;
			}

			.navbar-nav {
				.nav-link {
					font-size: 1.3rem;
				}
			}
		}
	}
}
